
KataRomanNumbersRecursiveProject/.classpath
KataRomanNumbersRecursiveProject/.project
KataRomanNumbersRecursiveProject/.settings/org.eclipse.jdt.core.prefs
KataRomanNumbersRecursiveProject/.settings/org.eclipse.m2e.core.prefs
KataRomanNumbersLoopProject/.classpath
KataRomanNumbersLoopProject/.project
KataRomanNumbersLoopProject/.settings/org.eclipse.jdt.core.prefs
KataRomanNumbersLoopProject/.settings/org.eclipse.m2e.core.prefs
KataRomanNumbersVoidProject/.classpath
KataRomanNumbersVoidProject/.project
KataRomanNumbersVoidProject/.settings/org.eclipse.jdt.core.prefs
KataRomanNumbersVoidProject/.settings/org.eclipse.m2e.core.prefs
KataRomanNumbersLoopProject/bin/src/test/java/com/ccsw/kata/unit/KataRomanTest.class
KataRomanNumbersLoopProject/bin/src/main/java/com/ccsw/kata/KataRoman.class
KataRomanNumbersLoopProject/bin/pom.xml
KataRomanNumbersLoopProject/bin/.project
ExplicaciónKata.docx
